* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5a5;

}

.location {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wx {
  width: 100px;
  height: 100px;
}

#secondSelect {

  outline: none;
  margin-bottom: 10px;
  font-size: 30px;
  width: 50%;
  border: none;

}

#location {
  font-size: 30px;
  border: none;
  width: 50%;
  outline: none;
  margin-bottom: 10px;
}



.location option {

  font-size: 25px;
  border: none;
}

.location p {
  color: rgb(51, 51, 51, 0.5);
}

.location:first-child p {
  color: black;
}

.card {
  background-color: rgb(255, 255, 255, 0.8);
  width: 300px;
  border-radius: 15px;
  height: 650px;
  display: flex;
  box-shadow: 5px 5px 5px #725c5ca7;
  flex-direction: column;
  align-items: center;


  padding: 10px;
}

.wind img {
  width: 30px;
  height: 30px;
}

.weather span {
  font-size: 30px;

}

button {
  border: none;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
}


button:active {
  background-color: #333;

  i {
    color: #fff;
    transform: rotate(360deg);
  }


}

.temprature {
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
}

i {
  color: #333;
}

.weather h2 {
  display: flex;
}

.weather {
  font-size: 50px;
  width: 100%;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.wind-card {
  width: 100%;
  height: 80%;
}

.wind {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.location .select {
  display: flex;
  width: 100%;
  justify-content: center;
}

.select select {
  color: black;
  background-color: #fff;
}

.card .h36weather {
  height: 50%;
  width: 100%;
}